<template name="stage">

{{rendered}}

<div id="{{stage.slug}}" class="single">

	<div class="image">
		<div class="icon"></div>
		<h2>{{stage.name}} Stage</h2>
	</div>
	
	<div class="band-card">
		<div class="image" style="background-image: url('{{currentPerformance.imageURL}}');"></div>
		<div class="band-name">Vampire Weekend{{currentPerformance.artist}}</div>
		<ul class="song-list">
		
			<li class="current"><div class="line"></div><div class="circle"></div><span>{{inHumanTime currentSong.startedAt}}</span><a href="#" class="buy">BUY</a><strong>{{currentSong.name}}</strong></li>
			<li class="past"><div class="line"></div><div class="circle"></div><span>0.00</span><a href="#" class="buy">BUY
				<table><ul class="bubble">
					<li><a href="#">Buy on iTunes</a></li>
					<li><a href="#">Buy on Amazon</a></li>
				</ul></table>
			</a><strong>Past Song Name</strong></li>
			<li class="past"><div class="line"></div><div class="circle"></div><span>0.00</span><a href="#" class="buy">BUY</a><strong>Past Song Name</strong></li>
		

			{{#each playedSongIDs}}
				<li class="past"><div class="line"></div><div class="circle"></div><span>{{correspondingSongStart this}} {{!correspondingSongEnd this}}</span><a href="#" class="buy">BUY</a><strong>{{correspondingSongName this}}</strong></li>
			{{/each}}
			

		</ul>
	</div>

<!--<h4>Later Today:</h4>
<ul class="upcoming-performances">
  {{!#each upcomingPerformances}}
  <li>{{!artist}} - {{!inHumanTime this.startTime}}</li>
  {{!/each}}
</ul>

<h4>Past Performances</h4>

<ul class="past-performances">
  {{!#each pastPerformances}}
  <li id="past-performance">
  <div id="performance info">
    <p>{{!artist}}<p>
    <p>Set List</p>
      <ol>
      {{!#each this.setList}}
        <li>{{!correspondingSongName this}}</li>
        <li>{{!correspondingSongStart this}} - {{!correspondingSongEnd this}}</li>
      {{!/each}}
      </ol>
    </div>
  </li>
  {{!/each}}
</ul>-->

</template>