<template name="admin">
  <h1>Add New Performance</h1>
  <label for="artist">Artist</label>
  <input type="text" name="artist">
  <br>
  <label for="set_length">Set Length</label>
  <input type="number" name="set_length" min=".25" max="2" step=".25"> Hours
  <br>
  <label for="stage">Stage</label>
  <select name="stage">
    <option value="landsend">Land's End</option>
    <option value="sutro">Sutro</option>
    <option value="twinpeaks">Twin Peaks</option>
    <option value="panhandle">Panhandle</option>
    <option value="dome">The Dome by Heineken</option>
    <option value="barbary">The Barbary</option>
  </select>
  <br>
  <input type="submit" value="Create Performance">
</template>