<template name="stages">
<ul id="stages">

	{{#each currentPerformances}}
	<li class="stage" id="{{slug}}">
		<a href="#" class="show-stage artist full" data-id="{{name}}" data-color="#006d4c">
			
			<div class="image"><div class="icon"></div></div>
			<div class="text">
				<span class="band">{{currentPerformance.artist}}</span>
				<span class="song">{{currentSong.name}}</span>
			</div>
			<div class="time" data-start="{{currentPerformance.startTime}}" data-end="{{currentPerformance.endTime}}">
				<div class="bar"><div class="label"></div></div>
			</div>
  	
  		</a>
	</li>
  	{{/each}}

</ul>
</template>