<template name="stages">
<ul id="stages">

	{{#each stages}}
	<li class="stage" id="{{slug}}">
		<a href="#" class="show-stage artist full" data-id="{{_id}}" data-color="#006d4c">
			
			<div class="image"><div class="icon"></div></div>
			<div class="text">
				<span class="band">{{curPerformance}}</span>
				<span class="song">{{curSong}}</span>
			</div>
			<div class="time">
				<div class="bar" style="width: {{curPerfPercent}}%"></div>
				<div class="song-dot" style="left: 12%;"></div><div class="song-dot" style="left: 34%;"></div>
			</div>
  	
  		</a>
	</li>
  	{{/each}}

</ul>
</template>