<template name="stages">
<ul id="stages" class="hidden">

	{{rendered}}
	
	{{#each stages}}
	<li class="stage" id="{{slug}}">
		<a href="#" class="show-stage artist full" data-id="{{_id}}" data-color="#006d4c">
			
			<div class="image"><div class="icon"></div></div>
			<div class="text">
				<span class="band">{{curPerformance}}</span>
				<span class="song">{{curSong}}</span>
			</div>
			<div class="time">
				<div class="bar" style="width: {{percentUpToCurrentSong this}}%"></div>
				{{#each percentMarkers}}
				<div class="song-dot" style="left: {{this}}%;"></div>
				{{/each}}
			</div>
  	
  		</a>
	</li>
  	{{/each}}

</ul>
</template>